<footer class="footer">
    <h6 align="center">
        <a href="https://boosty.to/yarahmltn" target="_blank" rel="noopener" class="tag">Boosty</a>
        <a href="https://github.com/YaraHmltn" target="_blank" rel="noopener" class="tag">GitHub</a>
        <a href="https://t.me/yarahmltn" target="_blank" rel="noopener" class="tag">Telegram</a>
        <p id="load-time"></p>
    </h6>
</footer>