<nav class="menu">
    <ul>
        <li><a href="/">Главная</a></li>
        <li><a href="MyFrogs">Мои лягушки</a></li>
        <li><a href="Profile">Профиль</a></li>
        <li><a href="ExtinctFrogs">Вымершие лягушки</a></li>
    </ul>
</nav>