<!DOCTYPE html>
<html lang="ru">
{{> head}}
<body>
<nav class="auth">
    <ul>
        <li><label for="email">Email:</label></li>
        <li><input class="form-input"  type="text" id="email" name="email"></li>
        <li><label for="password">Пароль:</label></li>
        <li><input class="form-input"  type="text" id="password" name="password"></li>
    </ul>
</nav>
</body>
</html>