<!DOCTYPE html>
<html lang="ru">
{{> head }}
<body>
{{> header }}

{{> menu }}

<div class="page">
    <main>
        <section>
            <article>
                <h3>Зачем мы тут собрались</h3>
                <p><cite>Лягушки</cite> — общеупотребительное название группы животных из отряда бесхвостых земноводных.
                    В широком смысле термин «лягушка» относится ко всем представителям отряда бесхвостых.
                    В узком смысле это название применяется по отношению к представителям семейства настоящих лягушек.
                    Личинки лягушек называются головастиками.</p>
            </article>
            <article>
                <h3>Что вы тут найдёте</h3>
                <p>На этом восхитительном сайте вы можете добавлять всех своих лягушек, почитать про различных других
                    лягушек,
                    проверить, не откинитесь ли вы, заведя ту или иную лягушку и, конечно же, поставить автору троечку,
                    чтоб её не отчислили на 4 курсе.</p>
            </article>
        </section>
    </main>

    {{> footer}}
</div>

</body>
</html>