<!DOCTYPE html>
<html lang="ru">
{{> head }}
<body>
{{> header }}

<div class="frog">
  <main>
      <ul>
          <li><h3>Тейлор</h3></li>
          <li><a>4 года</a></li>
          <li><a>Травяная</a></li>
      </ul>
      <ul>
          <li><h3>Пиксель</h3></li>
          <li><a>2 года</a></li>
          <li><a>Остромордая</a></li>
      </ul>
      <ul>
          <li><h3>Арчи</h3></li>
          <li><a>12 лет</a></li>
          <li><a>Листолаз</a></li>

      </ul>
  </main>

  {{> footer}}
</div>

</body>
</html>