<!DOCTYPE html>
<html lang="ru">
{{> head }}
<body>
{{> header }}

{{> menu }}

<div class="page">
  <main>
    <h1 id="name">Name</h1>
    <h2 id="email">Email</h2>
    <h2 id="website">Website</h2>
  </main>

  {{> footer}}
</div>

</body>
</html>