.logo {
    height: 100px;
    width: 100px;
    margin: 10px;
}

.header {
    color: darkgreen;
    display: flex;
}

.menu {
    color: darkgreen;
    align-items: center;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
}

.frog {
    color: #013901;
    align-items: center;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
}

.frog li {
    display: inline;
    padding: 30px;
}

.frog a {
    font-size: 15px;
    color: darkgreen;
    text-decoration: none;
}

.frog h1 {
    font-size: 20px;
    color: darkgreen;
    text-decoration: none;
}

.menu li {
    display: inline;
    padding: 20px;
}

.menu a {
    font-size: 20px;
    color: darkgreen;
    text-decoration: none;
}

.footer {
    justify-content: center;
}

.tag {
    color: darkgreen;
}
.form-input {
    margin-top: 10px;
    margin-bottom: 10px;
    min-width: 10rem;
    border-color: #7a7777;
    border-radius: 5px;
    background-color: white;
}
.profile {
    padding-left: 20px;
    padding-bottom: 20px;
}

